{{>partial_header}}
package main

import (
	"log"
	"net/http"

	// WARNING!
	// Change this to a fully-qualified import path
	// once you place this file into your project.
	// For example,
	//
	//    sw "github.com/myname/myrepo/{{apiPath}}"
	//
	"{{moduleName}}/{{packageName}}"
)

func main() {
	log.Printf("Server started")

	router := {{packageName}}.NewRouter({{packageName}}.Services{})

	log.Fatal(http.ListenAndServe(":{{serverPort}}", router))
}
